## CSV

윈도우에서 CSV를 생성할 때에는 newline이 `"\r\n"`으로 지정되므로, 이때 엑셀에서 빈 줄이 추가될 수 있습니다. 이때 newline 옵션에 `"\n"`을 지정하여 생성해주세요.

In [1]:
import csv

csv_filename = 'output.csv'

with open(csv_filename, 'wt', encoding='utf8', newline='\n') as f:
    writer = csv.writer(f)
    writer.writerow(['col1', 'col2', 'col3', 'col4', 'col5'])

## 1급 객체 (First Class Object)
### 1급 함수, 1급 클래스

In [2]:
def mysum(x, y):
    return x + y

In [3]:
other_fn = mysum

In [4]:
other_fn(1, 2)

3

In [5]:
def myfn(fn, x, y):
    return fn(x, y)

In [6]:
myfn(mysum, 1, 2)

3

In [7]:
i = 10

In [8]:
def mysum2(x, y):
    return x + y

In [9]:
myfn = mysum2

In [12]:
(lambda x, y: x + y)(1, 2)  # 익명 함수, Anonymous Function

3

In [15]:
mysum3 = lambda x, y: 2*x + y  # 익명함수에 mysum2 이름이 생겼다.

In [16]:
mysum3(1, 2)

3

In [17]:
def base_calc(base_number):
    fn = lambda x, y: x + y + base_number
    return fn

In [19]:
base_10 = base_calc(10)
base_10(1, 2)

13

In [20]:
base_20 = base_calc(20)
base_20(1, 2)

23

In [21]:
def base_calc_other(base_number):
    # fn = lambda x, y: x + y + base_number
    def fn(x, y):
        return x + y + base_number
    return fn

In [22]:
base_10 = base_calc_other(10)
base_10(1, 2)

13

## 클래스

```java
/* java */
Person person = new Person("Tom", 10);
```

```ruby
# ruby
person = Person.new("Tom", 10)
```

```python
# python
person = Person("Tom", 10)
```

In [40]:
class Person:
    def __init__(self, name, age, region):
        self.name = name
        self.age = age
        self.region = region
    
    def say_hello(self):
        print("안녕. 나는 {}야. {}살이지. {}에서 왔어.".format(self.name, self.age, self.region))
    
    def move_to(self, new_region):
        print("{}은 {}에서 {}로 이사를 합니다.".format(self.name, self.region, new_region))
        self.region = new_region  # 이사한 곳의 위치를 저장

```java
class Person {
    String name;
    int age;
    String region;

    public Person(String name, int age, String region) {
        this.name = name;
        this.age = age;
        this.region = region;
    }
    
    public void say_hello() {
        String message = String.format("안녕. 나는 %s야. %d이지.", this.name, this.age);
        System.out.println(message);
    }
    
    public void move_to(String new_region) {
        // FIXME: ~~~
        this.region = new_region;
    }
}
```

In [41]:
tom = Person("Tom", 10, "서울")

In [42]:
tom.name, tom.age, tom.region

('Tom', 10, '서울')

In [43]:
tom.say_hello()

안녕. 나는 Tom야. 10살이지. 서울에서 왔어.

In [44]:
tom.move_to("부산")

Tom은 서울에서 부산로 이사를 합니다.

In [45]:
tom.say_hello()

안녕. 나는 Tom야. 10살이지. 부산에서 왔어.

## 호출가능한 객체

In [60]:
class Calculator:
    def __init__(self, base):
        self.base = base
    
    def sum(self, x, y):
        return x + y + self.base
    
    def __call__(self, x, y):
        return x + y + self.base

In [61]:
calc = Calculator(10)
calc.base

10

In [62]:
print(calc.sum(1, 2))
print(calc.__call__(1, 2))

13
13

In [63]:
calc(1, 2)  # 실제로 __call__ 인스턴스 함수를 파이썬이 호출해준 것

13

In [64]:
def myfn(fn, x, y):
    return fn(x, y)

In [65]:
def mysum(x, y):
    return x + y

myfn(mysum, 1, 2)

3

In [66]:
myfn(calc, 1, 2)

13

## 상속, 오버라이딩

In [67]:
class Person:
    def run(self):
        print('뜁니다.')

In [68]:
class SoccerPlayer(Person):
    def run(self):
        print('발로 공을 드리블하며 뜁니다.')

player = SoccerPlayer()
player.run()

발로 공을 드리블하며 뜁니다.

In [69]:
person = Person()
person.run()

뜁니다.

In [71]:
class BasketballPlayer(Person):
    def run(self):
        super().run()
        print('손으로 공을 드리블하며 뜁니다.')

player = BasketballPlayer()
player.run()

뜁니다.
손으로 공을 드리블하며 뜁니다.

## 예외 (Exception)

In [72]:
print("line 1")
print("line 2")

line 1
line 2

In [73]:
print("line 1")
int('a')
print("line 2")

line 1

ValueError: invalid literal for int() with base 10: 'a'

In [74]:
names = ['tom', 'steve', 'john']
print(names[1])
print(names[3])

steve

IndexError: list index out of range

In [75]:
people = { 'john': 10, 'steve': 8, 'jane': 20 }
print(people['john'])
print(people['kal'])

10

KeyError: 'kal'

In [76]:
people = { 'john': 10, 'steve': 8, 'jane': 20 }
try:
    print(people['kal'])
    print(people['john'])
except KeyError:
    print("KeyError 예외발생")

print("END")

10
KeyError 예외발생
END

In [79]:
# 정녕 예외를 무시하시겠습니까?

try:
    1 / 0
except ZeroDivisionError as e:
    print(e)

division by zero

In [80]:
try:
    1 / 0
except:  # 모든 예외를 다 잡겠다. XXX
    pass

## 장식자

In [81]:
def base_10(fn):
    def wrap(x, y):
        return fn(x, y) + 10
    return wrap

In [82]:
def mysum(x, y):
    return x + y

return_fn = base_10(mysum)
return_fn(1, 2)

13

In [84]:
def mysum(x, y):
    return x + y

def mymultiply(x, y):
    return x * y

print(base_10(mysum)(1, 2))
print(base_10(mymultiply)(1, 2))

13
12

In [87]:
def mysum(x, y):
    return x + y

mysum = base_10(mysum)
mysum(1, 2)

13

In [89]:
@base_10
def mysum(x, y):
    return x + y

@base_10
def mymultiply(x, y):
    return x * y

print(mysum(1, 2))
print(mymultiply(1, 2))

13
12

## Quiz

아래 함수에 `base_20` 장식자를 정의하세요.

```python
def base_20(fn):
    def wrap(x, y):
        return fn(x, y) + 20
    return wrap

@base_20
def mypower(x, y):
    return x ** y
    
print(mypower(2, 4))  # 출력결과는 36
```

In [92]:
# 절대값
abs(-10)

10

In [93]:
def myabs(fn):
    def wrap(x, y):
        return fn(abs(x), abs(y))
    return wrap

@myabs
def mysum(x, y):
    return x + y

print(mysum(-1, 9))

10

In [96]:
def base(base_number):
    def wrap(fn):
        def inner(x, y):
            return fn(x, y) + base_number
        return inner
    return wrap

base_10 = base(10)
base_20 = base(20)
base_30 = base(30)
base_100 = base(100)

@base_30
def mysum(x, y):
    return x + y

mysum(1, 2)

33